<%- include('../layout/layout') %>
<%- include('../partials/adminSideMenu') %>
<main class="main-wrap">
    <%- include('../partials/adminHeader') %>
    <section class="content-main">
        <div class="row">
            <div class="col-12">
                <div class="content-header">
                    <h2 class="content-title">Confirm User Status</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h4>Are you sure you want to <%= userData.is_blocked ? 'unblock' : 'block' %> <span class="text-primary"><%= userData.email %></span>?</h4>
                        <form action="<%= userData.is_blocked ? '/admin/unblock' : '/admin/block' %>?user=<%= userData._id %>" method="post" class="my-2">
                            <input type="hidden" name="" value="">
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="/admin/users" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/adminFooter') %>
</main>
